absl-py
accelerate
aiofiles
aiohttp
aiosignal
alembic
altair
annotated-types
anthropic
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
astutils
async-lru
attrs
azure-core
azure-storage-blob
Babel
backoff
bcrypt
beautifulsoup4
bitarray
bitsandbytes
bitstring
black
bleach
blinker
blis
boto3
botocore
Brotli
build
cachetools
can
capstone
catalogue
certifi
cffi
cfgv
chardet
charset-normalizer
chroma-hnswlib
chromadb
chrono
click
click-log
cloudpathlib
clr-loader
cohere
colorama
coloredlogs
comm
confection
contourpy
crewai
crewai-tools
cryptography
cycler
cymem
Cython
dataclasses-json
datasets
dd
debugpy
decorator
defusedxml
Deprecated
deprecation
dill
dirtyjson
distlib
distro
dnspython
docker
docstring_parser
docx2txt
easyocr
EbookLib
ecdsa
embedchain
environs
esptool
et-xmlfile
evaluate
executing
faiss-cpu
fastapi
fastavro
fastembed
fastjsonschema
ffmpy
filelock
filetype
fire
firecrawl-py
flake8
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
ftfy
gast
git-lfs
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-pasta
google-resumable-media
googleapis-common-protos
gptcache
GPUtil
gradio
gradio_client
graphviz
greenlet
groq
grpc-google-iam-v1
grpcio
grpcio-status
h11
h5py
hexdump
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
identify
idna
imageio
img2pdf
importlib-metadata
importlib_resources
inflate64
iniconfig
instructor
InstructorEmbedding
intel-openmp
intelhex
ipykernel
ipython
ipywidgets
isodate
isoduration
isort
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-path
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
keras
kiwisolver
kubernetes
lancedb
langchain
langchain-chroma
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-groq
langchain-openai
langchain-text-splitters
langchainhub
langcodes
langsmith
lazy_loader
lazy-object-proxy
libclang
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-groq
llama-index-llms-huggingface
llama-index-llms-ollama
llama-index-llms-openai
llama-index-llms-openai-like
llama-index-llms-replicate
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-tools-wolfram-alpha
llama-parse
llama-recipes
llamaindex-py-client
llmstudio
loguru
loralib
lxml
Mako
Markdown
markdown-it-py
marker-pdf
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdurl
minijinja
minio
mistune
mkl
ml-dtypes
mmh3
monotonic
more-itertools
motor
mpmath
multidict
multiprocess
multivolumefile
murmurhash
mutagen
mypy-extensions
namex
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
networkx
ninja
nltk
nodeenv
notebook
notebook_shim
numpy
oauthlib
ocrmypdf
odfpy
ollama
onnx
onnxruntime
openai
openapi-core
openapi-schema-validator
openapi-spec-validator
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optimum
optree
orjson
outcome
overrides
packaging
pandas
pandocfilters
parameterized
parse
parso
pathable
pathspec
pdfminer.six
pdfplumber
pdftext
peft
pi_heif
pikepdf
pillow
pinecone-client
pinecone-plugin-interface
pip
platformdirs
plotly
pluggy
ply
posthog
prance
pre-commit
preshed
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
pulsar-client
pure-eval
py
py7zr
pyadl
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pybars4
pybcj
pycipher
pyclipper
pycodestyle
pycomm3
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
pydantic-settings
pydeck
pydot
pydub
pyflakes
PyGithub
Pygments
PyJWT
pylance
PyMeta3
pymilvus
pymongo
PyMuPDF
PyMuPDFb
PyNaCl
pyngrok
pyparsing
pypdf
pypdfium2
PyPika
pyppmd
pyproject_hooks
pyreadline3
pyright
pysbd
pyserial
PySocks
PyStemmer
pystray
pytesseract
pytest
pyth
python-bidi
python-can
python-dateutil
python-docx
python-dotenv
python-json-logger
python-multipart
python-pptx
python-snap7
pythonnet
pytube
pytz
pywin32
pywinpty
PyYAML
pyzmq
pyzstd
qtconsole
QtPy
raesl
ragraph
rapidfuzz
ratelimiter
ratio-genetic-py
reedsolo
referencing
regex
replicate
requests
requests-oauthlib
responses
retry
rfc3339-validator
rfc3986-validator
rich
rouge_score
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
s3transfer
safetensors
schema
scikit-image
scikit-learn
scipy
seaborn
selenium
semantic-kernel
semantic-version
semver
Send2Trash
sentence-transformers
sentencepiece
setuptools
shapely
shellingham
shtab
six
sly
sm_4rel4in
sm_4rel4in
sm_4rel4in
smart-open
smbus2
smbus2
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
streamlit
striprtf
structlog
surya-ocr
sv-ttk
sympy
tabulate
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
texify
text-generation
texttable
thinc
threadpoolctl
tifffile
tika
tiktoken
timm
tinycss2
tk
tokenize-rt
tokenizer
tokenizers
toml
tomlkit
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
trl
typer
types-python-dateutil
types-requests
typing_extensions
typing-inspect
tyro
tzdata
ujson
unsloth
uri-template
uritemplate
urllib3
uvicorn
virtualenv
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
win32-setctime
wrapt
wsproto
xlrd
XlsxWriter
xxhash
yarl
youtube-transcript-api
yt-dlp
zipp
